@model WebApplication1.Models.EWalletViewModels.EWalletViewModel
@{
    ViewBag.Title = Resources.Menu.Menu_1003;
}
<h2>@Resources.Menu.Menu_1003</h2>
<hr>

<div class="alert well">
    <h4 class="text-danger">注意</h4>
    <ul>        
        <li><p>原始保證點數 : 未平昌的點數</p></li>
        <li><p>可動用點數 : 表示可以出金或操作的點數。</p></li>
        <li><p>未入帳點數: 表示入金或出金未審核的點數。</p></li>
        <li><p>權益總值 : 原始保證點數及可動用點數總和</p></li>
    </ul>
</div>
 
<div class="panel panel-info">
    <div class="panel-heading">@Resources.ResourceDeposit.Label_Header</div>
    <div class="panel-body">
        <div class="container">

            <div class="row" style="padding-bottom:5px">
                <label class="col-xs-3  control-label">
                    權益總值
                </label>
                <div class='col-xs-3'>
                    <label class="col-xs-1  control-label">@Model._EWallet.Balance</label>
                </div>
                <label class="col-xs-1  control-label">
                    帳號
                </label>
                <div class='col-xs-5'>
                    <label class="col-xs-1  control-label">@Model._Customer.Account</label>
                </div>
            </div>

            <div class="row" style="padding-bottom:5px">
                <label class="col-xs-3  control-label">
                    原始保證點數
                </label>
                <div class='col-xs-3'>
                    <label class="col-xs-1  control-label">@Model._EWallet.Pyeongchang</label>
                </div>
                <label class="col-xs-1  control-label">
                    姓名
                </label>
                <div class='col-xs-3'>
                    <label class="col-xs-6  control-label">@(Model._Customer.Member.LastName + Model._Customer.Member.FirstName)</label>
                </div>
            </div>

            <div class="row" style="padding-bottom:5px">
                <label class="col-xs-3  control-label">
                    可動用點數
                </label>
                <div class='col-xs-3'>
                    <label class="col-xs-1  control-label">@Model._EWallet.Available</label>
                </div>
                <label class="col-xs-1  control-label">
                    E-mail
                </label>
                <div class='col-xs-5'>
                    <label class="col-xs-1  control-label">@Model._Customer.Member.Email</label>
                </div>
            </div>

            <div class="row" style="padding-bottom:5px">
                <label class="col-xs-3  control-label">
                    未入帳點數
                </label>
                <div class='col-xs-3'>
                    <label class="col-xs-1  control-label">@Model._EWallet.TranscationDraw</label>
                </div>
            </div>

        </div>
    </div>

    <div class="panel-footer">
        @Html.ActionLink("入金", "Index", "Deposit", null, new { @class = "btn btn-warning" })
        @Html.ActionLink("出金", "Index", "Withdrawal", null, new { @class = "btn btn-warning" })
        @Html.ActionLink("歷史交易紀錄", "Index", "Transaction", null, new { @class = "btn btn-warning" })
    </div>

</div>

<div class="panel panel-default">
    <div class="panel-heading">歷史交易</div>
    <div class="panel-body">
        <div class="container">
            <div class="row">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>序</th>
                            <th>交易日期</th>
                            <th>類型</th>
                            <th>交易點數</th>
                            <th>手續費</th>
                            <th>傭金</th>
                            <th>審核狀態</th>
                            <th>審核時間</th>
                            <th>檢視</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int RowID = 1;
                        }
                        @foreach (var Item in Model.TransList) {
                            <tr>
                                <td>@RowID</td>
                                <td>@Item.TradeTime.ToString(CommTool.BaseConst.TimeFormatComplete)</td>
                                <td>
                                    @{
                            string Result = string.Empty;
                            switch (Convert.ToInt32(Item.TradeType)) {
                                case 1:
                                    Result = "入金";
                                    break;
                                case 2:
                                    Result = "出金";
                                    break;

                                case 4:
                                    Result = "獲利";
                                    break;
                                case 5:
                                    Result = "損失";
                                    break;    
                            }
                                    }
                                    @Result
                                </td>
                                <td>
                                    @{
                            string DrawResult = string.Empty;
                            switch (Convert.ToInt32(Item.TradeType)) {
                                case 1:
                                    DrawResult = Item.Detail.Draw.ToString();
                                    break;
                                case 2:
                                    DrawResult = (0 - Item.Detail.Draw).ToString();
                                    break;
                                default:
                                    DrawResult = Item.Detail.Draw.ToString();
                                    break;
                            }
                                }
                                @DrawResult
                            </td>
                            <td>@Item.Detail.Fee</td>
                            <td>
                                @Item.Detail.Commission
                            </td>
                            <td>@(Resources.Resource.ResourceManager.GetString("AuditTpyes_" + Item.AuditState.ToString(), System.Threading.Thread.CurrentThread.CurrentUICulture))</td>
                            <td>@(Item.AuditTime.ToString(CommTool.BaseConst.TimeFormatComplete) == "0001/01/01 00:00:00" ? string.Empty : Item.AuditTime.ToString(CommTool.BaseConst.TimeFormatComplete))</td>
                            <td>
                                @{
                            switch (Convert.ToInt32(Item.TradeType)) {
                                case 1:
                                case 4:
                                    <a href="~/Deposit/Index?TransKey=@Item.TransKey"><i class='glyphicon glyphicon-search'></i></a>
                                    break;
                                case 2:
                                <a href="~/Withdrawal/Index?TransKey=@Item.TransKey"><i class='glyphicon glyphicon-search'></i></a>
                                    break;

                                default:

                                    break;
                            }
                                }

                            </td>
                        </tr>
                            RowID++;
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
