
@model Adviser.Models.ViewModels.SettingViewModels.ChipsSettingViewModel

<table class="table table-hover">
    <thead>
        <tr>
            <th>序</th>
            <th>帳號</th>
            <th>客戶設定碼數</th>
            <th>暱稱</th>
            <th>姓名</th>
            <th>碼數</th>             
        </tr>
    </thead>
    <tbody>
        @{
            int RowID = 1;
        }
        @if (@Model.ListCustomer != null && Model.ListCustomer.Count > 0)
        {
            foreach (var Item in Model.ListCustomer)
            {
                <tr>
                    <th scope="row" id="@Item.SN">@RowID</th>
                    <td><a href="~/Setting/ChipsSettingEdit?CustomerSN=@Item.SN">@Item.Account</a></td>
                    <td>@Item.MinimunLotLimit</td>
                    <td>@Item.Member.NickName</td>
                    <td>@(Item.Member.LastName + Item.Member.FirstName)</td>
                    <td>@Item.Chips</td>
                </tr>
                RowID++;
            }
        }
    </tbody>
</table>
