@model WebApplication1.Models.RegisterViewModels.RegisterViewModel

@{
    Layout = null;
    ViewBag.Title = "Index";
    IEnumerable<SelectListItem> GenderList = ViewBag.GenderList;
    
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<script src="~/Scripts/jquery-2.2.0.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/Bootstrap3/bootstrap-datetimepicker.js"></script>
<script src="~/Scripts/RegisterJs.js"></script>

<div class="panel panel-success container body-content">
    <div class="panel-heading">
        <div class="col-lg-offset-5">
            <h1> @Resources.Resource.Register_Title</h1>
        </div>
    </div>

    <div class="panel-body" id="_ReportTable">
        @using (Html.BeginForm("Index", "Register", new { Id = "Register_Form" })) {
            <div class="container">
                <form class="form-signin" role="form">
                    <div class="col-md-5 col-md-offset-4">  
                        <div class="form-group">
                            <label for="InputAccount" class="col-xs-12 col-sm-3 control-label">
                                @Resources.Resource.Register_Account
                            </label>
                            @Html.TextBoxFor(M => M.Account, new { id = "InputAccount", @required = "required", @class = "form-control", @placeholder = Resources.Resource.Register_Account, @maxlength = "50" })
                            <label for="InputAccount" class="col-xs-12   control-label" style="color:red">
                                @Resources.Resource.Register_AccountRemark
                            </label>
                        </div>

                        <div class="form-group">
                            <label for="InputAccount" class="col-xs-12 col-sm-3 control-label">
                                @Resources.Resource.Login_Password
                            </label>
                            @Html.PasswordFor(M => M.PassWord, new { id = "InputPassword", @required = "required", @class = "form-control", @placeholder = Resources.Resource.Login_Password, @minlength = "8", @maxlength = "15" })
                        </div>

                        <div class="form-group">
                            <label for="InputAccount" class="col-xs-12 col-sm-3 control-label">
                                @Resources.Resource.Register_LastName
                            </label>
                            @Html.TextBoxFor(M => M.LastName, new { id = "InputLastName", @required = "required", @class = "form-control", @placeholder = Resources.Resource.Register_LastName, @maxlength = "15" })
                        </div>

                        <div class="form-group">
                            <label for="InputAccount" class="col-xs-12 col-sm-3 control-label">
                                @Resources.Resource.Register_FirstName
                            </label>
                            @Html.TextBoxFor(M => M.FirstName, new { id = "InputFirstName", @required = "required", @class = "form-control", @placeholder = Resources.Resource.Register_FirstName, @maxlength = "15" })
                        </div>

                        <div class="form-group">
                            <label for="InputAccount" class="col-xs-12 col-sm-3 control-label">
                                @Resources.Resource.Register_NickName
                            </label>
                            @Html.TextBoxFor(M => M.NickName, new { id = "InputNickName", @required = "required", @class = "form-control", @placeholder = Resources.Resource.Register_NickName, @maxlength = "15" })
                        </div>

                        <div class="form-group">
                            <label for="InputAccount" class="col-xs-12 col-sm-3 control-label">
                                @Resources.Resource.Register_Gender
                            </label>
                            @Html.DropDownListFor(M => M.Gender, GenderList, new { @class = "form-control" })
                        </div>

                        <div class="form-group">
                            <label for="InputAccount" class="col-xs-12 col-sm-3 control-label">
                                @Resources.Resource.Register_ID
                            </label>
                            @Html.TextBoxFor(M => M.ID, new { id = "InputID", @required = "required", @class = "form-control", @placeholder = Resources.Resource.Register_ID, @maxlength = "15" })
                        </div>

                        <div class="form-group">
                            <label for="InputAccount" class="col-xs-12 col-sm-3 control-label">
                                @Resources.Resource.Register_Phone
                            </label>
                            @Html.TextBoxFor(M => M.Phone, new { id = "InputPhone", @required = "required", @class = "form-control", @placeholder = Resources.Resource.Register_Phone, @maxlength = "10" })
                        </div>

                        <div class="form-group">
                            <label for="InputAccount" class="col-xs-12 col-sm-3 control-label">
                                @Resources.Resource.Register_BirthDay
                            </label>
                            @Html.TextBoxFor(M => M.BirthDay, new { id = "InputBirthDay", @required = "required", @class = "form-control", @placeholder = Resources.Resource.Register_BirthDay })
                        </div>

                        <div class="form-group">
                            <label for="InputAccount" class="col-xs-12 col-sm-3 control-label">
                                @Resources.Resource.Register_HomeAddr
                            </label>
                            @Html.TextBoxFor(M => M.HomeAddr, new { id = "InputHomeAddr", @required = "required", @class = "form-control", @placeholder = Resources.Resource.Register_HomeAddr, @maxlength = "50" })
                        </div>

                        @if (!ViewData.ModelState.IsValid) {
                            <div class="alert alert-danger" role="alert">
                                @Html.ValidationSummary()
                            </div>
                        }

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-xs-3">
                                <button class="btn btn-primary" type="submit">@Resources.Resource.Register_Register</button>
                            </div>
                            <a href="~/Login/LoginView" class="btn btn-success">@Resources.Resource.Register_Back</a>
                        </div>

                    </div>
                </form>
            </div>
        }
    </div>
</div>