@model  Adviser.Models.ReportViewModels.TradeRecordReportModel
@{
    int RowID = 1;
}
<script src="~/Scripts/Code/ReportJs.js"></script>
<table class="table table-hover">
    <tbody>
        @if (@Model._TradeRecord != null && Model._TradeRecord.Count > 0)
        {
            foreach (var Item in Model._TradeRecord)
            {
                <tr>
                    <td>
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td>序</td>
                                    <td scope="row">@RowID</td>
                                </tr>
                                <tr>
                                    <td>下單時間</td>
                                    <td scope="row">@Item.TradeDate.ToString(CommTool.BaseConst.DateFormat)</td>
                                </tr>
                                <tr>
                                    <td>契約時間</td>
                                    <td scope="row">@Item.DueMonth</td>
                                </tr>

                                <tr>
                                    <td>多 / 空</td>
                                    <td scope="row">@Item.OP</td>
                                </tr>
                                <tr>
                                    <td>履約價</td>
                                    <td scope="row">@Item.Contract</td>
                                </tr>
                                <tr>
                                    <td>形態</td>
                                    <td scope="row">@Item.Type</td>
                                </tr>
                                <tr>
                                    <td>口數</td>
                                    <td scope="row">@Item.Lot</td>
                                </tr>

                                <tr>
                                    <td>入昌點數</td>
                                    <td scope="row">@Item.Price</td>
                                </tr>
                                <tr>
                                    <td>平昌點數</td>
                                    <td scope="row">@Item.StopPrice</td>
                                </tr>

                                <tr>
                                    <td>修改時間</td>
                                    <td scope="row">@Item.PyeongchangTime.ToString(CommTool.BaseConst.DateFormat)</td>
                                </tr>
                                <tr>
                                    <td>平昌</td>
                                    <td scope="row">
                                        @{
                                            if (Model.Permission <= 3)
                                            {
                                                if (Item.IsPyeongchang)
                                                {
                                                    <label>平昌</label>
                                                }
                                                else
                                                {
                                                    <input class="btn btn-primary" type="button" name="Put" id="@Item.SN" data-contract="@(Item.Contract)" value="未平昌">
                                                }
                                            }
                                            else
                                            {
                                                @(Item.IsPyeongchang == true ? "平昌" : "未平昌")
                                            }
                                        }
                                    </td>
                                </tr>


                                <tr>
                                    <td>損益</td>
                                    <td scope="row">
                                        @{
                                            if (Item.Type == "Buy")
                                            {
                                                @(Item.IsPyeongchang == true ? (Item.StopPrice - Item.Price) * Convert.ToDecimal(Item.Lot) : 0);
                                            }
                                            else
                                            {
                                                @( Item.IsPyeongchang == true ? (Item.Price - Item.StopPrice) * Convert.ToDecimal(Item.Lot) : 0);
                                            }
                                        }
                                    </td>
                                </tr>


                                <tr>
                                    <td>通知</td>
                                    <td scope="row">
                                        @{
                                            if (Model.Permission <= 3)
                                            {
                                                if (Item.IsMail)
                                                {
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" class="checkchange" data-sn="@Item.SN" checked data-toggle="toggle">
                                                    </label>
                                                }
                                                else
                                                {
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" class="checkchange" data-sn="@Item.SN" data-toggle="toggle">
                                                    </label>
                                                }
                                            }
                                        }
                                    </td>
                                </tr>


                            </tbody>
                        </table>
                    </td>
                </tr>
                RowID++;
            }
        }
    </tbody>
</table>


@if (@Model._TradeRecord != null && Model._TradeRecord.Count > 0)
{
    <div id="PublicTable">
        <nav>
            <ul class="pagination">
                @if (Model.MaxPage == 1 || Model.Page == 1)
                {
                    <li class="disabled"><span><span aria-hidden="true">«</span><span class="sr-only">Previous</span></span></li>
                }
                else
                {
                    <li id="Previous"><span><span aria-hidden="true">«</span><span class="sr-only">Previous</span></span></li>
                }

                @for (int i = 1; i <= Model.MaxPage; i++)
                {
                    if (i == Model.Page)
                    {
                        <li id="@i" class="active span_c1ick"><span>@i <span class="sr-only">(current)</span></span></li>
                    }
                    else
                    {
                        <li id="@i"><span class="span_c1ick">@i<span class="sr-only"></span></span></li>
                    }
                }
                @if (Model.MaxPage == 1 || Model.Page == Model.MaxPage)
                {
                    <li class="disabled"><span><span aria-hidden="true">»</span><span class="sr-only">Next</span></span></li>
                }
                else
                {
                    <li id="Next"><span><span aria-hidden="true">»</span><span class="sr-only">Next</span></span></li>
                }
            </ul>
        </nav>
    </div>
}