@model Adviser.Models.ViewModels.TransactionViewModels.TransactionViewModel
@{
    IEnumerable<SelectListItem> SelectAuditList = ViewBag.AuditList;
    ViewBag.Title = "CustomerMangement";
}

<h2>@Resources.Menu.Menu_3002</h2>
@using (Html.BeginForm("Search", "Trans")) {
    <input hidden="hidden" name="TransType" value="@Model.TransType"/>
        <div class="panel panel-info">
        <div class="panel-heading">基本查詢</div>
        <div class="panel-body">
            <div class="container">
                <div class="row">
                    <label class="col-xs-1  control-label">
                        開始日期
                    </label>
                    <div class='col-xs-3'>
                        <input type='text' class="form-control" id='BeginTimePicker' name="BeginTime" value="@Model.BeginTime.ToString(CommTool.BaseConst.TimeFormatComplete)" />
                    </div>
                    <label class="col-xs-1 control-label">
                        結束日期
                    </label>
                    <div class='col-xs-3'>
                        <input type='text' class="form-control" id='EndTimePicker' name="EndTime" value="@Model.EndTime.ToString(CommTool.BaseConst.TimeFormatToMinute)" />
                    </div>
                    <div class='col-xs-3'>
                        <select id="Audit" class="selectpicker form-control" data-live-search="true" name="Audit">
                            @foreach (var Item in SelectAuditList) {
                                if (Item.Selected) {
                                    <option value="@Item.Value" selected="selected">@Item.Text </option>
                                }
                                else {
                                    <option value="@Item.Value">@Item.Text </option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-xs-4">
                        <input type="submit" value="查詢" class="btn btn-info" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="panel-body" id="_MangementTable">
            @Html.Partial("_TransactonTablePartial", @Model)

        </div>
    </div>
}

<script type="text/javascript">
    $(function () {
        $("#BeginTimePicker").datepicker({
            format: "yyyy/mm/dd"
        });
        $("#EndTimePicker").datepicker({
            format: "yyyy/mm/dd"
        });
    });
</script>