@model WebApplication1.Models.DepositViewModels.DepositViewModel

@{
    ViewBag.Title = Resources.Menu.Menu_2001;
    Layout = "~/Views/Shared/_Layout.cshtml";

    Html.AddJavaScriptVar("MinVal", Resources.ResourceDeposit.MinValue);
    Html.AddJavaScriptVar("IsRead", Resources.ResourceDeposit.IsRead);
}

<h2>@Resources.Menu.Menu_2001</h2>
<hr>

<script>
    $(function () {
        $('#DepositFrom').submit(function () {         
            if ($("#Draw").val() < 100)
            {
                alert(MinVal);
                return false;
            }
            if (!$("#AgreeCheck").prop("checked"))
            {
                alert(IsRead);
                return false;
            }
        });
    });    
</script>

@using (Html.BeginForm("Deposit", "Deposit", FormMethod.Post , new { @id="DepositFrom"} )) {
    <div class="panel panel-info">
        <div class="panel-heading">入金資料</div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-lg-offset-3 col-xs-6" style="padding-left: 15px ;padding-bottom :30px">
                    <div class='input-group date'>
                        <span class="input-group-addon">
                            帳號
                        </span>
                        @Html.TextBox("Account", @Model._Customer.Account, new { @class = "form-control  addtimepicker col-xs-3", @ReadOnly = "ReadOnly" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-3 col-xs-6" style="padding-left: 15px; padding-bottom: 30px">
                    <div class='input-group date'>
                        <span class="input-group-addon">
                            入金金額
                        </span>
                        @Html.TextBox("Draw", @Model._Transaction.Detail.Draw, new { @class = "form-control  addtimepicker col-xs-3" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-3 col-xs-6" style="padding-left: 15px; padding-bottom: 30px">
                    <div class='input-group date'>
                        <span class="input-group-addon">
                            備註
                        </span>
                        @Html.TextArea("Remark", @Model._Transaction.Detail.Remark, new { @class = "form-control  addtimepicker col-xs-3" })
                    </div>
                </div>
            </div>                        
            <div class="form-group" style="padding-top:180px; padding-right:250px">
                <div class="text-danger text-center">

                    <label><input type="checkbox" id="AgreeCheck" value="">入金必須要先匯入指定帳戶後，才可以進行申請，審核需要幾天的工作天，審核同意後，才算入金完成。</label>

                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-5 col-xs-6">
                    <input type="submit" value="送出" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
}