@model WebApplication1.Models.DepositViewModels.DepositViewModel

@{
    ViewBag.Title = Resources.Menu.Menu_2001;
    Layout = "~/Views/Shared/_Layout.cshtml";

    Html.AddJavaScriptVar("MinVal", Resources.ResourceDeposit.MinValue);
    Html.AddJavaScriptVar("IsRead", Resources.ResourceDeposit.IsRead);
}

<h2>@Resources.Menu.Menu_2001</h2>
<hr>

<script>
    $(function () {
        $('#DepositFrom').submit(function () {
            e.preventDefault();
            if ($("#Draw").val() < 100)
            {
                alert(MinVal);
                return false;
            }
            if (!$("#AgreeCheck").prop("checked"))
            {
                alert(IsRead);
                return false;
            }
            return true;
        });                
    });


    ///------------------------------------------------------------------------------
    ///上傳檔案預覽
    ///------------------------------------------------------------------------------
    function handleFiles(input) {
        var ImgId = input.getAttribute('data-img')      
        var Img =  document.getElementById(ImgId);
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                Img.setAttribute('src', e.target.result);
                $(Img).show();
                $(Img).parent().find('a').hide();
            }
            reader.readAsDataURL(input.files[0]);
        }
        else {
            Img.setAttribute('src', '#');
            $(Img).hide();
        }

    }//end handleFiles

    ///------------------------------------------------------------------------------
    ///燈箱顯示圖片
    ///------------------------------------------------------------------------------
    function ShowImage(ItemData) {
        $.colorbox({
            html: ' <img class="preview" src="' + ItemData + '" />'
        });
    }//end ShowImage
</script>

@using (Html.BeginForm("Deposit", "Deposit", FormMethod.Post, new { @id = "DepositFrom", enctype = "multipart/form-data" })) {
    <div class="panel panel-info">
        <div class="panel-heading">入金資料</div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-lg-offset-3 col-xs-6" style="padding-left: 15px ;padding-bottom :30px">
                    <div class='input-group date'>
                        <span class="input-group-addon">
                            帳號
                        </span>
                        @Html.TextBox("Account", @Model._Customer.Account, new { @class = "form-control  addtimepicker col-xs-3", @ReadOnly = "ReadOnly" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-3 col-xs-6" style="padding-left: 15px; padding-bottom: 30px">
                    <div class='input-group date'>
                        <span class="input-group-addon">
                            入金金額
                        </span>
                        @Html.TextBox("Draw", @Model._Transaction.Detail.Draw, new { @class = "form-control  addtimepicker col-xs-3" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-3 col-xs-6" style="padding-left: 15px; padding-bottom: 30px">
                    <div class='input-group date'>
                        <span class="input-group-addon">
                            匯款單1
                        </span>
                        <div>                            
                            <input class="form-control" type="file" name="MoneyOrder1" onchange="handleFiles(this)" data-img="MoneyOrderImg1" accept=" .bmp , .png , .jpg" />
                        </div> 
                        <div>
                            <img id="MoneyOrderImg1" style="max-width:50px; max-height:50px;" onclick="ShowImage(this.getAttribute('src'))" />
                        </div>                       
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-3 col-xs-6" style="padding-left: 15px; padding-bottom: 30px">
                    <div class='input-group date'>
                        <span class="input-group-addon">
                            匯款單2
                        </span>
                        <div>
                            <input class="form-control" type="file" name="MoneyOrder2" onchange="handleFiles(this)" data-img="MoneyOrderImg2" accept=".bmp , .png , .jpg" />
                        </div>
                        <div>
                            <img id="MoneyOrderImg2" style="max-width:50px; max-height:50px;" onclick="ShowImage(this.getAttribute('src'))" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-3 col-xs-6" style="padding-left: 15px; padding-bottom: 30px">
                    <div class='input-group date'>
                        <span class="input-group-addon">
                            匯款單3
                        </span>
                        <div>
                            <input class="form-control" type="file" name="MoneyOrder3" onchange="handleFiles(this)" data-img="MoneyOrderImg3" accept=".bmp , .png , .jpg" />
                        </div>
                        <div>
                            <img id="MoneyOrderImg3" style="max-width:50px; max-height:50px;" onclick="ShowImage(this.getAttribute('src'))" />
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-lg-offset-3 col-xs-6" style="padding-left: 15px; padding-bottom: 30px">
                    <div class='input-group date'>
                        <span class="input-group-addon">
                            備註
                        </span>
                        @Html.TextArea("Remark", @Model._Transaction.Detail.Remark, new { @class = "form-control  addtimepicker col-xs-3" })
                    </div>
                </div>
            </div>                        
            <div class="form-group" style="padding-top:180px; padding-right:250px">
                <div class="text-danger text-center">

                    <label><input type="checkbox" id="AgreeCheck" value="">入金必須要先匯入指定帳戶後，才可以進行申請，審核需要幾天的工作天，審核同意後，才算入金完成。</label>

                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-5 col-xs-6">
                    <input type="submit" value="送出" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
}