@model MvcSiteMapProvider.Web.Html.Models.MenuHelperModel
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models




<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

                @if (WebApplication1.Code.MenuHelper.MenuHelper.GetSessionObj() != null)
                {
                    if (WebApplication1.Code.MenuHelper.MenuHelper.GetSessionObj().MenuList != null)
                    {
                        foreach (var item in WebApplication1.Code.MenuHelper.MenuHelper.GetSessionObj().MenuList)
                        {

                            if (item.MenuList != null)
                            {
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" />
                                    @item.Name
                                    <span class="caret"></span>
                                    <ul class="dropdown-menu" role="menu">
                                        @foreach (var detail in item.MenuList)
                                        {
                                            if (detail.Url != null)
                                            {
                                                string[] sll = detail.Url.Split('/');
                                                if (sll.Length > 1)
                                                {
                                                    <li>                                   
                                                        <a href="@item.Url">@item.Name</a>
                                                       
                                                    </li>
                                                }
                                            }
                                        }
                                    </ul>

                                </li>
                            }
                            else
                            {
                                if (item.Url != null)
                                {
                                    string[] sp = item.Url.Split('/');

                                    if (sp.Length > 0)
                                    {
                                        <li>
                                        
                                            <a href="@item.Url">@item.Name</a>
                                         
                                        </li>
                                    }
                                }
                            }
                        }
                    }
                }

                <li>
                    @Html.ActionLink("登出", "LogOut", "Login", new { @class = "col-md-offset-10 col-md-12" })
                </li>

            </ul>

        </div>
    </div>

</nav>


