 @model WebApplication1.Models.PersonalViewModels.ForGetPassWordViewModel
<script src="~/Scripts/PersonalJs.js"></script>



<h2>@Resources.Menu.Menu_1002</h2>
<hr>

@using (Html.BeginForm("ActionChangePassWord", "Personal")) {
    <div class="panel panel-primary">
        <div class="panel-heading"></div>
        <div class="panel-body">
            <div class="container">
                <div class="row col-lg-offset-3" style="padding-bottom:20px">
                    <label class="col-xs-2  control-label" >
                        @Resources.ResourcePersonal.Label_NowPassWord
                    </label>
                    <div class='col-xs-3'>
                        @Html.PasswordFor(M => M.NowPassWord, new { id = "InputNowPassWord", @class = "form-control", @required = "required", @placeholder = Resources.ResourcePersonal.Label_NowPassWord, @maxlength = "15" })
                    </div>                    
                </div>
                                
                <div class="row col-lg-offset-3" style="padding-bottom:20px">
                    <label class="col-xs-2  control-label">
                        @Resources.ResourcePersonal.Label_NewPassWord
                    </label>
                    <div class='col-xs-3'>
                        @Html.PasswordFor(M => M.NewPassWord, new { id = "InputNewPassWord", @class = "form-control", @required = "required", @placeholder = Resources.ResourcePersonal.Label_NowPassWord, @maxlength = "15" })
                    </div>
                </div>
               
                <div class="row col-lg-offset-3" style="padding-bottom:20px">
                    <label class="col-xs-2  control-label">
                        @Resources.ResourcePersonal.Label_PassWordComfirm
                    </label>
                    <div class='col-xs-3'>
                        @Html.PasswordFor(M => M.PassWordComfirm, new { id = "InputPassWordComfirm", @class = "form-control", @required = "required", @placeholder = Resources.ResourcePersonal.Label_PassWordComfirm, @maxlength = "15" })
                    </div>
                </div>

                <div class="row col-lg-offset-3">
                    <div class="col-lg-offset-1 col-xs-2">
                        <button class="btn btn-primary" id="btn_Change" type="submit">@Resources.Resource.Btn_Change</button>
                    </div>
                    <div class="col-xs-3">
                        <a class="btn btn-success" href="~/Home/Index">@Resources.Resource.Register_Back</a>
                    </div>
                </div>

            </div>
        </div>
    </div> 
}