@model WebApplication1.Models.PersonalViewModels.PersonalViewModel

<h2>@Resources.Menu.Menu_1001</h2>
<hr>


@using (Html.BeginForm("PersonalChange", "Personal")) {
    <div class="panel panel-info">
        <div class="panel-heading">基本查詢</div>
        <div class="panel-body">
                       

            <div class="row col-lg-offset-4" style="padding-bottom:20px">
                <label for=" inputaccount" class="col-xs-6 col-sm-2 control-label">
                         @Resources.Resource.Login_Account
                </label>              
                    @Html.TextBoxFor(M => M.Email, new { id = "InputAccount", @readonly = "readonly", @class = "form-control", @placeholder = Resources.Resource.Login_Account, @maxlength = "50" })               
            </div>

            <div class="row col-lg-offset-4" style="padding-bottom:20px">
                <label for="InputAccount" class="col-xs-6 col-sm-2 control-label">
                    @Resources.Resource.Register_LastName
                </label>
                @Html.TextBoxFor(M => M.LastName, new { id = "InputAccount", @class = "form-control", @required = "required", @placeholder = Resources.Resource.Register_LastName, @maxlength = "50" })
            </div>

            <div class="row col-lg-offset-4" style="padding-bottom:20px">
                <label for="InputAccount" class="col-xs-12 col-sm-2 control-label">
                    @Resources.Resource.Register_FirstName
                </label>
                @Html.TextBoxFor(M => M.FirstName, new { id = "InputAccount", @class = "form-control", @required = "required", @placeholder = Resources.Resource.Register_FirstName, @maxlength = "50" })
            </div>          

            <div class="row col-lg-offset-4" style="padding-bottom:20px">
                <label for="InputAccount" class="col-xs-12 col-sm-2 control-label">
                    @Resources.Resource.Register_NickName
                </label>
                @Html.TextBoxFor(M => M.NickName, new { id = "InputAccount", @class = "form-control", @required = "required", @placeholder = Resources.Resource.Register_NickName, @maxlength = "50" })
            </div>

            <div class="row col-lg-offset-4" style="padding-bottom:20px">
                <label for="InputAccount" class="col-xs-12 col-sm-2 control-label">
                    @Resources.Resource.Register_Phone
                </label>
                @Html.TextBoxFor(M => M.Phone, new { id = "InputAccount", @class = "form-control", @required = "required", @placeholder = Resources.Resource.Register_Phone, @maxlength = "50" })
            </div>

            <div class="row col-lg-offset-4" style="padding-bottom:20px">
                <label for="InputAccount" class="col-xs-12 col-sm-2 control-label">
                    @Resources.Resource.Register_HomeAddr
                </label>
                @Html.TextBoxFor(M => M.HomeAddress, new { id = "InputAccount", @class = "form-control  ", @required = "required", @placeholder = Resources.Resource.Register_HomeAddr, @maxlength = "100" })
            </div>
            
            <div class="row col-lg-offset-2">
                <div class="col-lg-offset-3 col-xs-2">
                    <button class="btn btn-primary" type="submit">@Resources.Resource.Btn_Change</button>
                </div>
                <div class="col-xs-3">
                    <a class="btn btn-success" href="~/Home/Index">@Resources.Resource.Register_Back</a>
                </div>
            </div>

        </div>
    </div>
}