@model WebApplication1.Models.EmployeeMgrViewModels.EmployeeManamgerViewModel

@{
    ViewBag.Title = "_EditViewPartial";
}

<h2>編輯</h2>


@using (Ajax.BeginForm("EditAction", "Employee", new AjaxOptions
{
    HttpMethod = "Post",
    OnSuccess = "OnAjaxSuccesForEdit"
    
},
new { Id = "Load_EditOK_Form" }
))

{
<table>
    <tr>
       <td>
           姓名：
       </td>
        <td>
            @Html.TextBoxFor(M => M.Emp.EmpFirstName, new { id = "EditForm_FirstName", @required = "required" })
        </td>
    </tr>
    <tr>
        <td>
            姓:
        </td>
        <td>
            @Html.TextBoxFor(M => M.Emp.EmpLastName, new { id = "EditForm_EmpLastName", @required = "required" })
        </td>
    </tr>
    <tr>
        <td>
            電話:
        </td>
        <td>
            @Html.TextBoxFor(M => M.Emp.Tel, new { id = "EditForm_Tel", @required = "required" })
        </td>
    </tr>
    <tr>
        <td>
            地址:
        </td>
        <td>
            @Html.TextBoxFor(M => M.Emp.Addr, new { id = "EditForm_Addr", @required = "required" })
        </td>
    </tr>
     @Html.HiddenFor(M=>M.Emp.EmpNo)
    <tr>
        <td>
            <input type="submit" id="Edit_OK" class="btn btn-default" value="確認" />
        </td>
        <td>
            <input type="submit" id="Edit_Cancel" class="btn btn-default" value="取消" onclick="OnEditCancel()" />
        </td>
    </tr>
</table>
    
}
