@model WebApplication1.Models.EmployeeMgrViewModels.EmployeeManamgerViewModel 

@{
    ViewBag.Title = "EditView";
}

<h2>EditView</h2>

編輯畫面

<table>
@using (Html.BeginForm("Edit", "Employee", FormMethod.Post))
        {    
     <tr>
         <td>
           FirstName :    
         </td>
         <td>
             @Html.TextBoxFor(M=>M.Emp.EmpFirstName)
         </td>
     </tr>

      <tr>
          <td>
              LastName :
          </td>
          <td>
              @Html.TextBoxFor(M=>M.Emp.EmpLastName)
          </td>
      </tr>

    <tr>
        <td>
            Tel :
        </td>
        <td>
            @Html.TextBoxFor(M=>M.Emp.Tel)
        </td>
    </tr>

    <tr>
         <td>
             Address :
         </td>
        <td>
            @Html.TextBoxFor(M=>M.Emp.Addr)
        </td>
    </tr>

    <tr>
        <td>
            <input type="submit" class="btn btn-default" value="修改" />  
            @Html.HiddenFor(M=>M.Emp.EmpNo)
        </td>
    </tr>
}
</table>

